/* About Section */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


#about{
    width:100%;
    min-height:100vh;

    background:
    radial-gradient(circle at top left, rgba(37,99,235,0.20), transparent 30%),
    radial-gradient(circle at bottom right, rgba(124,58,237,0.18), transparent 35%),
    linear-gradient(135deg,#071529,#0F172A,#111827);

    display:flex;
    justify-content:center;
    align-items:center;
    padding:60px 10%;
}


.about-container{
    max-width:900px;

    background:rgba(255,255,255,0.06);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.10);

    padding:40px;

    border-radius:25px;

    box-shadow:
        0 15px 40px rgba(0,0,0,.35),
        0 0 30px rgba(37,99,235,.15);

    animation:fadeUp 1s ease;
}

.about-container h1{
    font-size:45px;
     color:#ffffff;
    margin-bottom:25px;
    text-align:center;
    position:relative;
}

.about-container h1::after{
    content:"";
    width:90px;
    height:4px;
     background:#3B82F6;
    position:absolute;
    left:50%;
    bottom:-10px;
    transform:translateX(-50%);
    border-radius:5px;
}

.about-container p{
    color:#CBD5E1;
    font-size:18px;
    line-height:1.8;
    margin-bottom:18px;
    text-align:justify;
}

.about-container strong{
    color:#60A5FA;
}

#backhome{
    display:inline-block;
    margin-top:20px;
    padding:12px 30px;

    background:linear-gradient(135deg,#2563EB,#60A5FA);

    color:white;

    text-decoration:none;

    border-radius:30px;

    transition:.4s;
}

#backhome:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 30px rgba(37,99,235,.45);
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(60px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
@media(max-width:768px){

     #about{
        padding:20px 10px;
    } 

    .about-container{
        padding:25px;
    }

    .about-container h1{
        font-size:35px;
    }

    .about-container p{
        font-size:16px;
    }

    .btn{
        width:100%;
        text-align:center;
    }
}